@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.active {
  border-bottom: 2px solid #b9ff66;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
